Checks: '
    bugprone-*
    ,cert-*
    ,cppcoreguidelines-*
    ,modernize-*
    ,performance-*
    ,readability-*
    ,portability-*
    ,clang-analyzer-unix
    ,clang-analyzer-security
    ,clang-analyzer-deadcode
    ,clang-analyzer-core
    ,clang-analyzer-cplusplus
    ,clang-analyzer-optin
    ,llvm-namespace-comment
    ,readability-static-accessed-through-instance
    ,misc-const-correctness
    ,-bugprone-reserved-identifier
    ,-bugprone-implicit-widening-of-multiplication-result
    ,-bugprone-easily-swappable-parameters
    ,-bugprone-narrowing-conversions
    ,-cert-dcl37-c
    ,-cert-dcl51-cpp
    ,-cert-msc32-c
    ,-cert-msc51-cpp
    ,-cert-msc30-c
    ,-cert-msc50-cpp
    ,-modernize-use-trailing-return-type
    ,-modernize-macro-to-enum
    ,-modernize-use-nullptr
    ,-modernize-use-using
    ,-modernize-avoid-c-arrays
    ,-modernize-use-auto
    ,-readability-avoid-unconditional-preprocessor-if
    ,-readability-identifier-length
    ,-readability-isolate-declaration
    ,-readability-magic-numbers
    ,-readability-braces-around-statements
    ,-readability-function-cognitive-complexity
    ,-cppcoreguidelines-macro-to-enum
    ,-cppcoreguidelines-macro-usage
    ,-cppcoreguidelines-pro-bounds-pointer-arithmetic
    ,-cppcoreguidelines-pro-type-cstyle-cast
    ,-cppcoreguidelines-init-variables
    ,-cppcoreguidelines-avoid-magic-numbers
    ,-cppcoreguidelines-pro-bounds-array-to-pointer-decay
    ,-cppcoreguidelines-avoid-c-arrays
    ,-cppcoreguidelines-narrowing-conversions
'