*.7z
*.app
*.bak
*.class
*.diff
*.dll
*.dmg
*.err
*.gz
*.iso
*.jar
*.lib
*.log
*.o
*.patch
*.rar
*.so
*.swp
*.tar
*.tgz
*.vi
*.vim
*.zip
.DS_Store
.Spotlight-V100
.Trashes
._*
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Debug/
Makefile
Release/
Thumbs.db
build/
cmake_install.cmake
Findmpir.cmake
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
